# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Package distribution
*.egg
*.egg-info/
dist/
build/
localgraph.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS
.DS_Store

# VSCode settings
.vscode/

# Environments
.env
.venv
env/
venv/

# PyCharm
.idea/
